:root {
  --background-color: #121212;
  --primary-color: #bb86fc;
  --text-color: #ffffff;
  --card-background: #1e1e1e;
  --text: 'Funnel Display', sans-serif; /* Funnel Display as the default font */
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  font-family: var(--text); /* Use Funnel Display for the entire body */
}

header {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Align items to the left */
  gap: 20px; /* Add spacing between items */
  padding: 2rem;
}

header * {
  cursor: pointer; /* Change cursor to hand on hover for all header elements */
  
}

header *:hover {
  filter: drop-shadow(2px 0 4px var(--primary-color));
  transition: transform 0.3s ease, filter 0.3s ease;
}
.logo {
  width: 90px;
  height: 90px;
  padding-top: 15px; /* Adjust padding to center the logo vertically */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.logo:hover {
  transform: scale(1.1) rotate(10deg); /* Slight size increase and rotation */
  filter: drop-shadow(0 0 15px var(--primary-color)); /* Natural glow effect */
}

footer {
  text-align: center;
  padding: 2rem;
}

category {
  margin: 2rem auto;
  width: 90%;
}

.category h2 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: var(--primary-color);
}

.container {
  max-width: 90%; /* Set a maximum width for the content */
  margin: 0 auto; /* Center the content horizontally */
  padding: 0 2rem; /* Add padding to the left and right sides */
}

.tool-grid {
  display: flex; /* Use Flexbox for consistent sizing */
  flex-wrap: wrap; /* Allow wrapping to the next row */
  justify-content: left; /* Center the cards */
  gap: 20px; /* Space between cards */
  padding: 1rem;
}

.tool-card {
  width: 200px; /* Fixed width for all cards */
  height: 250px; /* Fixed height for all cards */
  background-color: var(--card-background);
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.tool-card:hover {
  background-color: rgb(61, 27, 133);
  transform: translateY(-5px);
  filter: drop-shadow(0px 1px 3px white);
  box-shadow: inset 0 0 3px white;
  
}

.tool-icon {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
}

.tool-name {
  font-size: 1rem;
  margin: 10px 0;
}

.platforms {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.platform {
  font-size: 0.9rem;
  background: #333;
  padding: 5px 10px;
  border-radius: 5px;
  color: var(--text-color);
}
